:root {
    --color-1: #436986;
    --color-2: #5d8aa8;
    --color-3: #1c7373;
    --color-4: #005757;
    --color-5: #1f8aaa;
    --color-6: #2faac8;
    --color-7: #ed4909;
    --color-8: #fc6313;
    --color-fondo: #e8ecf0;
    --color-complementario-I : #ce1d49;
    --color-complementario-II : #f24164;
    --color-blanco: #fff;
    --color-negro: #000;
}

.bg-color-fondo{
    background-color: var(--color-fondo);
}

.bg-color-principal {
    background-color: var(--color-1);
}

.bg-color-opuesto {
    background-color: var(--color-complementario-I);
}

.btn-personalized-1 {
    background-color: var(--color-complementario-I);
    color: var(--color-blanco);
}

.btn-personalized-1:hover {
    background-color: var(--color-complementario-II);
    color: var(--color-blanco);
}

.btn-personalized-2 {
    background-color: var(--color-5);
    color: var(--color-blanco);
}

.btn-personalized-2:hover {
    background-color: var(--color-6);
    color: var(--color-blanco);
}

.btn-personalized-3 {
    background-color: var(--color-7);
    color: var(--color-blanco);
}

.btn-personalized-3:hover {
    background-color: var(--color-8);
    color: var(--color-blanco);
}

.btn-personalized-4 {
    background-color: var(--color-1);
    color: var(--color-blanco);
}

.btn-personalized-4:hover {
    background-color: var(--color-2);
    color: var(--color-blanco);
}

.bg-input {
    border: 1.8px solid var(--color-2);
}

.bg-input:focus {
    border: 2px solid var(--color-2);
    box-shadow: 0 0 0 0.2rem var(--color-2);
}