@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

:root {
  --color-1: #436986;
  --color-2: #5d8aa8;
  --color-3: #1c7373;
  --color-4: #005757;
  --color-5: #1f8aaa;
  --color-6: #2faac8;
  --color-7: #ed4909;
  --color-8: #fc6313;
  --color-fondo: #e8ecf0;
  --color-complementario-I: #ce1d49;
  --color-complementario-II: #f24164;
  --color-blanco: #fff;
  --color-negro: #000;
  --fuente-principal: "Poppins", sans-serif;
  --fuente-secundaria: "Montserrat", sans-serif;
  --fuente-terciaria: "Allura", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

#root {
  height: 100vh;
}

.main-container {
  height: calc(100% - 372px - 122px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  z-index: 1000;
  min-height: 122px;
}

footer {
  height: 372px;
}
.text-white {
  color: var(--color-blanco);
}

.bgColorFondo {
  background-color: var(--color-fondo) !important;
}

.bgColorPrincipal {
  background-color: var(--color-1) !important;
}

.bgColorOpuesto {
  background-color: var(--color-complementario-I) !important;
}

.btnPersonalized1 {
  background-color: var(--color-complementario-I) !important;
  color: var(--color-blanco) !important;
  border: var(--color-complementario-I) !important;
}

.btnPersonalized1:hover {
  background-color: var(--color-complementario-II) !important;
  color: var(--color-blanco) !important;
}

.btnPersonalized1:disabled {
  background-color: #d3d3d3 !important;
  color: #a9a9a9 !important;
  cursor: not-allowed !important;
}

.btnPersonalized2 {
  background-color: var(--color-5) !important;
  color: var(--color-blanco) !important;
  border: var(--color-5) !important;
}

.btnPersonalized2 {
  background-color: var(--color-3) !important;
  color: var(--color-blanco) !important;
  border: var(--color-3) !important;
}

.btnPersonalized2:hover {
  background-color: var(--color-4) !important;
  color: var(--color-blanco) !important;
}

.btnPersonalized3 {
  background-color: var(--color-7) !important;
  color: var(--color-blanco) !important;
  border: var(--color-7) !important;
}

.btnPersonalized3:hover {
  background-color: var(--color-8) !important;
  color: var(--color-blanco) !important;
}

.btnPersonalized3:disabled {
  background-color: #d3d3d3 !important;
  color: #a9a9a9 !important;
  cursor: not-allowed !important;
}

.btnPersonalized4 {
  background-color: var(--color-1) !important;
  color: var(--color-blanco) !important;
  border: var(--color-1) !important;
}

.btnPersonalized4:hover {
  background-color: var(--color-2) !important;
  color: var(--color-blanco) !important;
}

.btnPersonalized4:disabled {
  background-color: #d3d3d3 !important;
  color: #a9a9a9 !important;
  cursor: not-allowed !important;
}

.bgInput {
  border: 1.8px solid var(--color-complementario-II) !important;
}

.bgInput:focus {
  border: 2px solid var(--color-complementario-II) !important;
  box-shadow: 0 0 0 0.2rem var(--color-2) !important;
}

.text-poppins {
  font-family: var(--fuente-principal);
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

.text-montserrat {
  font-family: var(--fuente-secundaria);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn-1 {
  align-items: center !important;
  background-clip: padding-box !important;
  background-color: var(--color-complementario-I) !important;
  border: 1px solid transparent !important;
  border-radius: 0.75rem !important;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0 !important;
  box-sizing: border-box !important;
  color: #fff !important;
  cursor: pointer !important;
  display: inline-flex !important;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif !important;
  font-size: 20px !important;
  font-weight: 600;
  justify-content: center !important;
  line-height: 1.25 !important;
  margin: 0 !important;
  min-height: 3rem !important;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px) !important;
  position: relative !important;
  text-decoration: none !important;
  transition: all 250ms !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  vertical-align: baseline !important;
  width: fit-content !important;
}

.btn-1:hover,
.btn-1:focus {
  background-color: var(--color-complementario-II) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px !important;
}

.btn-1:hover {
  transform: translateY(-1px) !important;
}

.btn-1:active {
  background-color: var(--color-complementario-I) !important;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px !important;
  transform: translateY(0) !important;
}
